body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Balsamiq", "sans serif";
    color: black;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    
    
  }
  h2 {
    font-size: 25px;
    font-weight: 700;
    
    
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    margin: 16px 0px;
    text-align: center;
  }
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background: #D6C5F3;
    height: 150px;
    z-index: 1;
}

nav a {
    color:#ffffff;
}

.logo {
    font-family: "Balsamiq Sans", cursive;
    font-size: 37px;
}
#hero {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:1100px;
    background-image: url('../img/hero-section.jpg');
}
#hero h1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*carousel*/
.foto-carousel {
        width: 250px;
        height: auto;
}
.carousel-indicators {
    top: 280px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#carousel {
    background: #000000;
    display: none !important;
}

/*experiencia*/
#experiencia img {
    width: 300px;
    height: auto;
    padding: 16px 0px;
    margin: 0px;
}
#experiencia hr{
    width: 200px;
    border-top: 2px solid;

}

/*Mis trabajos*/


#trabajos button {
    
    
    
}


/*footer*/
.footer {
color: #ffffff;
background: #F3C5DD;
height: 150px;
} 
.footer-logos{
    margin: 10px
}

/*Inicio media*/
@media (min-width: 480px) {
    /*Experiencia*/
    #experiencia img {
        width: 550px;
        text-align: left;
    }

    #carousel {
        display: block !important;
    }
    
 
} /*Fin media*/
