body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Balsamiq", "sans serif";
}
html {
    scroll-behavior: smooth;
}
/* Navbar */
nav{
    background: #AF33FF;
    }

nav a {
    color:#ffffff;
}

.logo {
    font-family: "Balsamiq Sans", cursive;
    font-size: 37px;
}
/*hero-section*/
#hero {
    background-image: url("../img/hero-section.jpg");
    background-position: top;
    background-size: 100vw 600px;
    background-repeat: no-repeat;
}
/*carousel*/
.foto-carousel {
        width: 250px;
        height: auto;
}
/*footer*/
.footer {
color: black;
}